#sidebar
  %h1 About Effectif

  .bio
    :markdown
      Effectif is the home of [Graham Ashton](http://grahamashton.net),
      a web developer in London.

  %h1 Freelancing

  %p
    I'll be available for Ruby, Python or JavaScript work from
    March 2011.
    = succeed "." do
      %a(href="mailto:graham@effectif.com") Get in touch

  %h1 Projects
  %ul.menu
    %li
      %a{ :href => "/nesta" } Nesta CMS
    %li
      %a{ :href => "/projects" } Recent software
    %li
      %a{ :href => "http://github.com/gma", :class => "github" } My github page

  = haml :categories, :layout => false
  = haml :feed, :layout => false

  .twitter
    %a(href="http://www.twitter.com/grahamashton")
      %img(src="http://twitter-badges.s3.amazonaws.com/follow_me-c.png" 
           alt="Follow grahamashton on Twitter") 
